<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body, html {
            height: 100%;
        }
        .center-container {
            min-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="row">
            
            <div class="col-md-15">
                <div class="fs-2 mb-3" bis_skin_checked="1">
                    <a href="javascript:history.back()">Назад</a> <h2>@ViewBag.Username</h2>
                </div>
                <a href="AllTests" class="list-group-item list-group-item-action">Все тесты</a>
                <a href="MyTests?userId=@ViewBag.UserId" class="list-group-item list-group-item-action">Мои тесты(WIP)</a>
                <a href="Logout" class="list-group-item list-group-item-action text-danger">Выйти из аккаунта</a
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
