@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <title>Добавление теста</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<div class="container mt-5">

    <div class="fs-2 mb-3" bis_skin_checked="1">
        <a href="javascript:history.back()">Назад</a>
    </div>

    <div class="col-md-10">
        <h2>Тест</h2>
        <form asp-action="Create" asp-controller="Test" method="post" id="testForm">

            <div class="form-group">
                <label>Название теста:</label>
                <input name="testName" type="text" class="form-control">
            </div>

            <h2>Вопросы</h2>

            <div class="col-lg-12">
                <ul class="list-group mb-3">

                    <div class="list-group-item mb-3 question" id="question">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Вопрос</span>
                            <input type="text" name="questions" class="form-control">
                            <input type="number" name="answersCount" class="answersCount" hidden>
                            <button class="btn btn-danger text-nowrap" id="DeleteQuestion" type="button">Удалить вопрос</button>
                        </div>

                        <div id="newAnswer">
                            <button id="answerAdder" type="button" class="btn btn-primary mb-2">Добавить ответ</button>

                            <div class="list-group-item answer" id="answer">
                                <div class="input-group-prepend">
                                    <button class="btn btn-danger text-nowrap" id="DeleteAnswer" type="button">Удалить ответ</button>
                                    <span class="input-group-text">Ответ</span>
                                    <input type="text" name="answers" class="form-control">
                                    <span>
                                        <input required class="form-check-input" type="radio" name="question_0" value="0">
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div id="newQuestion"></div>

                    <button id="questionAdder" type="button" class="btn btn-primary mb-2">Добавить вопрос</button>

                </ul>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Добавить тест</button>
            </div>

        </form>
    </div>

    <script type="text/javascript">
        let questionIndex = 0;

        function updateAnswersCount() {
            $(".question").each(function (qIndex) {
                var answersCount = $(this).find(".answer").length;
                $(this).find(".answersCount").val(answersCount);
                $(this).find(".answer").each(function (aIndex) {
                    $(this).find(".form-check-input").attr("name", "index[" + qIndex+"]");
                    $(this).find(".form-check-input").val(aIndex);
                });
            });
        }

        $("#questionAdder").click(function () {
            questionIndex++;
            newRowAdd =
                `<div class="list-group-item mb-3 question" id="question">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Вопрос</span>
                                <input type="text" name="questions" class="form-control">
                                <input type="number" name="answersCount" class="answersCount" hidden>
                                <button class="btn btn-danger text-nowrap" id="DeleteQuestion" type="button">Удалить вопрос</button>
                            </div>

                            <div id="newAnswer">
                                <button id="answerAdder" type="button" class="btn btn-primary mb-2">Добавить ответ</button>

                                <div class="list-group-item answer" id="answer">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-danger text-nowrap" id="DeleteAnswer" type="button">Удалить ответ</button>
                                        <span class="input-group-text">Ответ</span>
                                        <input type="text" name="answers" class="form-control">
                                        <span>
                                            <input required class="form-check-input" type="radio" name="question_${questionIndex}" value="0">
                                        </span>
                                    </div>
                                </div>

                            </div>

                        </div>`;

            $('#newQuestion').append(newRowAdd);
            updateAnswersCount();
        });

        $("body").on("click", "#DeleteQuestion", function () {
            $(this).parents("#question").remove();
            updateAnswersCount();
        });

        $("body").on("click", "#answerAdder", function () {
            var questionContainer = $(this).closest('.question');
            var qIndex = $(".question").index(questionContainer);
            var aIndex = questionContainer.find(".answer").length;
            newRowAdd =
                `<div class="list-group-item answer" id="answer">
                            <div class="input-group-prepend">
                                <button class="btn btn-danger text-nowrap" id="DeleteAnswer" type="button">Удалить ответ</button>
                                <span class="input-group-text">Ответ</span>
                                <input type="text" name="answers" class="form-control">
                                <span>
                                    <input required class="form-check-input" type="radio" name="question_${qIndex}" value="${aIndex}">
                                </span>
                            </div>
                        </div>`;

            $(this).parents('#newAnswer').append(newRowAdd);
            updateAnswersCount();
        });

        $("body").on("click", "#DeleteAnswer", function () {
            $(this).parents("#answer").remove();
            updateAnswersCount();
        });

        $("#testForm").submit(function () {
            updateAnswersCount();
        });

        updateAnswersCount();  // Initial call to set correct values for existing answers if any
    </script>
</div>
