@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@using testme.Models
@model IEnumerable<Test>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои тесты</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Мои тесты</h2>
                <a href="../MyTests/Create">Добавить тест</a>
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded mb-3" id="search-input" placeholder="Поиск" />
                </div>
                <ul class="list-group mb-3">
                    @foreach (var item in Model)
                    {
                        <li class="list-group-item">
                            <div class="form-check">
                                <a href="../CheckRecords?testId=@item.Id">@item.Name</a>
                                <p><a class="text-danger delete-link" href="#" data-testid="@item.Id">Удалить тест</a></p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <!-- Модальное окно -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Подтверждение удаления</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить этот тест?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <a href="#" id="confirmDeleteBtn" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#search-input').on('keypress', function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    var query = $(this).val();
                    window.location.href = '/MyTests?userId=@ViewBag.UserId&search=' + encodeURIComponent(query);
                }
            });

            $('.delete-link').on('click', function (e) {
                e.preventDefault();
                var testId = $(this).data('testid');
                var userId = '@ViewBag.UserId';
                $('#confirmDeleteBtn').attr('href', '../MyTests/Delete?userId=' + userId + '&testId=' + testId);
                $('#deleteModal').modal('show');
            });
        });
    </script>
</body>
</html>
